encryptionsalt: v1:XXXXXXXXXXXX:v1:XXXXXXXXXXXXXXXX:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
config:
  aws:region: ap-northeast-1
  instance-provisioning:vpcId: vpc-xxxxxxxxxxxxxxxxx
  instance-provisioning:subnetId: subnet-xxxxxxxxxxxxxxxxx
  instance-provisioning:securityGroupId: sg-xxxxxxxxxxxxxxxxx
  instance-provisioning:instanceName: dev-instance
  instance-provisioning:ami: ami-xxxxxxxxxxxxxxxxx
  instance-provisioning:instanceType: t3.medium
  instance-provisioning:sshKeyPairName: your-key-pair-name
  instance-provisioning:volumeSize: "60"
  # IAMロールタイプ: "basic" (WebBasicDeveloper) または "super" (WebSuperDeveloper)
  instance-provisioning:instanceRoleType: basic
  # 既存のiamInstanceProfileを指定する場合（オプション、instanceRoleTypeより優先）
  # instance-provisioning:iamInstanceProfile: WebBasicDeveloper
